@import "third_party/custom.bootstrap.mixins.import.less";
@import "third_party/custom.bootstrap.import.less";
@import "third_party/variables.less";


.page-header {
  h1 {
    font-size: 100px;

    span {
      vertical-align: middle;
    }

    .char {
      display: inline-block;
      width: 1em;

      &.map {text-align: right;}
      &.reduce {text-align: left;}
    }

    .mapIcon {
      background: url('/img/noun_60030_cc.svg') no-repeat;
    }
    .reduceIcon {
      background: url('/img/noun_60035_cc.svg') no-repeat;
    }

    .mapIcon,
    .reduceIcon {
      @height: 300px;

      background-position: -(@height * 0.3) -(@height * 0.4);
      background-size: @height * 2.05;
      display: inline-block;
      height: @height;
      margin: 0 -125px;
      opacity: 0.05;
      width: @height * 1.3;
    }
  }
}

.page-footer {
  color: @gray-light;
  margin-top: 200px;

  a {color: @gray-dark;}
}
